.circle {
  height: 60px;
  width: 60px;
  background-color: white;
  border: 2px solid black;
  border-radius: 100%;
  display: inline-block;
}
.play {
  text-align: center;
  background-color: #f2f2f2;
  margin-bottom: 40px;
}
h1 {
  text-align: center;
}
.play > div {
  margin-bottom: 5px;
}

/* -- Validation -- */
.validation {
  text-align: center;
}
.circleValidation {
  margin: 2px;
}
.trytext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trytext p {
  margin-bottom: 0px;
}
.circle_result {
  height: 20px;
  width: 20px;
  background-color: grey;
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
}