body {
	display: flex;
	justify-content: center;
	background-color: #444444;
}

#map path {
	fill: #cccccc;
	stroke: white;
	stroke-width: 0,6;
	cursor: pointer;
}

#map path:hover {
	fill: #ffdb8e;
}